doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/styles/dist/semantic.css")
    link(rel="stylesheet", href="/styles/styles.css")  

    script(type="text/javascript" src="http://code.jquery.com/jquery-1.10.2min.js")
    script(type="text/javascript" src="/styles/dist/semantic.min.js")  
    title EVB
  body
    .navbar
      .ui.inverted.orange.menu
      a.header.item(href="/") EVB Event CMS System
    #container
      block content

       